:root {    
    --left: 15px;
    --right: 20px;
    --top: 20px;
    --bottom: 5px;
    --gap:10px;
    --size-icon: 10px;    
    --theme: var(--black);
    --theme-negative: var(--white);
    --margin:0;
    --padding: 4px 16px; 
    --xl:700;   
    --xs:500;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #997404;
    --info: #17a2b8;
    --link: #007bff;    
}


.button{
    background-color: var(--color);    
    color: var(--theme-negative);
    padding: var(--padding);    
    font-size: 14px;
    font-weight: var(--xs);
    cursor: pointer;
    position: relative;
    overflow: hidden;    
    max-height: 30px;
    border-radius: 4px;
}

.button:active:before {
    content: "";
    position: absolute;
    margin: 0 0.5rem;
    font-weight: normal;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    left: 0;
    filter: blur(10px);
    animation: clickAnimation 1s forwards;
    opacity: 0.3;
}


.button-only{
    padding: 5px 20px ;
    background-color: var(--color);
    color: var(--theme-negative);
    border-radius: 20px;
    border-radius: 20px;
    fill: var(--theme-negative);
}

.button-only:hover{
    background-color: var(--transparent);
    border: var(--color) 1px solid;
    fill: var(--color);
    color: var(--color);
}

.button-icon-after{
    display: flex;
    gap: var(--gap);
    background-color: var(--color);
    color: var(--theme-negative);
    justify-content: center;
    align-items: center;
    fill: var(--theme-negative);
}

.button-icon-after svg{    
    width: var(--size-icon) !important;
    height: var(--size-icon) !important;
}

.button-icon-after:hover{
    background-color: var(--theme-negative);
    color: var(--color);
    fill: var(--color) !important;
}

.button-icon-before{
    display: flex;
    gap: var(--gap);
    background-color: var(--color);
    color: var(--theme-negative);
    justify-content: center;
    align-items: center;
    fill: var(--theme-negative);
}

.button-icon-before svg{    
    width: var(--size-icon) !important;
    height: var(--size-icon) !important;
}

.button-icon-before:hover{
    background-color: var(--theme-negative);
    color: var(--color);
    fill: var(--color) !important;
}

.button-outline-icon-only{
    padding: 5px 20px;
    background-color: var(--theme);
    color: var(--color);
    fill: var(--color);
    border-radius: 20px;
    border: 1px solid var(--color);
}

.button-outline-icon-only svg{    
    width: var(--size-icon) !important;
    height: var(--size-icon) !important;
}

.button-outline-icon-only:hover{
    background-color: var(--color);
    fill: var(--theme-negative);
    color: var(--theme-negative);
}

.button-link {
    background-color: var(--transparent);
    color: var(--color);
    fill: var(--color) ;
    padding: var(--padding);    
    font-size: 14px;
    font-weight: var(--xs);
    cursor: pointer;
    position: relative;
    overflow: hidden;    
    max-height: 30px;
    
}

.button-link:hover {
    background-color: var(--transparent);
    color: var(--theme-negative);
    fill: var(--theme-negative);
}

.button-link:hover:before {
    content: "";
    position: absolute;
    margin: 0 0.5rem;
    font-weight: normal;    
    width: 50%;
    justify-content: center;
    bottom: 0;
    height: 8%;
    left: 15%;   
    display: block;
    border-radius: 50px;    
    background-color: var(--color);    
}

.button-link:focus:before {
    content: "";
    position: absolute;
    margin: 0 0.5rem;
    font-weight: normal;    
    width: 80%;
    justify-content: center;
    bottom: 0;
    height: 8%;
    left: 0;    
    display: block;
    border-radius: 50px;
    background-color: var(--color);
    animation: clickEndAnimation 1s forwards;
    opacity: 0.5;
}

.button-outline{
    background-color: var(--theme);
    color: var(--color);
    border: 1px solid var(--color);
}

.button-outline:hover{
    background-color: var(--color);
    color: var(--theme-negative);
}

.button-outline-only{
    padding: 5px 20px;
    background-color: var(--theme);
    color: var(--color);
    border-radius: 20px;
    border: 1px solid var(--color);
}

.button-outline-only:hover{
    background-color: var(--color);
    fill: var(--theme-negative);
    color: var(--theme-negative);
}

.button-outline-icon-after{
    display: flex;
    gap: var(--gap);
    background-color: var(--theme);
    color: var(--color);
    border: 1px solid var(--color);
    justify-content: center;
    align-items: center;
    fill: var(--color);
}

.button-outline-icon-after svg{    
    width: var(--size-icon) !important;
    height: var(--size-icon) !important;
}

.button-outline-icon-after:hover{
    background-color: var(--color);
    color: var(--theme-negative); 
    fill: var(--theme-negative) !important;   
}

.button-outline-icon-before{
    display: flex;
    flex-direction: row-reverse;
    gap: var(--gap);
    background-color: var(--theme);
    color: var(--color);
    border: 1px solid var(--color);
    justify-content: center;
    align-items: center;
    fill: var(--color);
}

.button-outline-icon-before svg{    
    width: var(--size-icon) !important;
    height: var(--size-icon) !important;
}

.button-outline-icon-before:hover{
    background-color: var(--color);
    color: var(--theme-negative); 
    fill: var(--theme-negative) !important;   
}

.button-lock{    
    color: var(--theme-negative);
    padding: var(--padding);
    font-size: 14px;
    font-weight: var(--xs);
    cursor: not-allowed;
    position: relative;
    overflow: hidden;    
    max-height: 30px;
    border-radius: 4px;
    z-index: 100;
    background-color: var(--transparent);
}
.button-lock::before{
    z-index: 10;
    content: "";
    position: absolute;
    margin: 0 0.5rem;
    font-weight: normal;
    background-color: var(--color);
    width: 100%;
    height: 110%;
    left: -8px; 
    top: 0;       
    opacity: 0.5;
}
.button-lock::after{
    z-index: 10;
    content: "";
    position: absolute;
    margin: 0 0.5rem;
    font-weight: normal;
    background-color: var(--black);
    width: 100%;
    height: 110%;
    left: -8px; 
    top: 0;       
    opacity: 0.3;
}

/* dropdown */
.relative{    
    cursor: pointer;
}

.dropdown {           
    text-align: center;
    font-size: 14px;    
    position: relative;
    overflow: hidden;    
    flex-direction: row-reverse;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;  
    height: 100%;
    max-height: 30px;    
}

.dropdown svg {     
    width: var(--size-icon) !important;
    height: var(--size-icon) !important;
}

.dropdown:active::before {
    content: "";
    position: absolute;
    margin: 0 0.5rem;
    font-weight: normal;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    left: 0;
    filter: blur(10px);
    animation: clickAnimation 1s forwards;
    opacity: 0.3;
}

.dropdown p {
    margin: 0;
    padding: 0;
    top: 5px;
    color: var(--white);
}

.dropdown + * {    
    background: rgba(var(--primary), 0.63);
}

.dropdown-menu {  
    border-radius: 8px;  
    padding: 2% 20px;
    margin: 5% 0;
    position: absolute;
    display: flex;
    background-color: var(--black);       
    right: 0;    
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu div{
    margin-top: 6px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;    
}

.dropdown-menu div > * {
    margin-bottom: 10px;
    text-align: left !important;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.dropdown-left{
    right: 0;
}

.dropdown-right{
    left: 0;
}

.dropdown-top{
    bottom: 0;
}

.dropdown-bottom{
    top: 0;
}

.dropdown-top-left{
    bottom: 100%;
    right: 0;
}

.dropdown-top-right{
    bottom: 100%;
    left: 0;
}

.dropdown-bottom-left{
    top: 0;
    right: 0;
}

.dropdown-bottom-right{
    top: 0;
    left: 0;
}

.dropdown-menu a {
    color: var(--theme-negative);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Animaciones */
.fade-in {
    animation: ScaleFrame 2s ease-in-out;
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

.fadeInDown{
    animation: fadeInDown 1s ease-in-out;
}

.fadeInTop{
    animation: fadeInTop 1s ease-in-out;
}

@keyframes ScaleFrame {    
    0% {
        scale: 0;   
        opacity: 1;             
    }    
    100% {
        scale: 1;   
        opacity: 1;          
    }
}


@keyframes fadeInTop {
    0% {
        top: auto;
        opacity: 1;
        width: 50px;
        height: 50px;
    }
    50% {
        opacity: 1;
        transform: translateY(5);
    }
    100% {
        top: 0;
        right: 0;
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        top: 0;
        opacity: .0; 
        width: 50px;
        height: 50px;                   
    }
    50% {        
        opacity: 0;  
        transform: translateY(-5);                   
    }
    100% {
        top: auto;
        right: 0;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        width: 0%;
        height: 0%;
        opacity: 0;
        left: 40%;
    }
}

@keyframes clickEndAnimation {    
    0% {
        width: 0%;
        height: 0%;
        opacity: 0;
        left: 40%;
    }
    100% {
        transform: scale(1);        
        opacity: 1;
        left: 0%;
    }
}

