#button {    
    padding: 4px 16px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;    
    border-radius: 4px;
}
.button{
    background-color: var(--primary);    
    color: var(--white);
}

#button:active::before {
    content: "";
    position: absolute;
    margin: 0 0.5rem;
    font-weight: normal;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    left: 0;
    filter: blur(10px);
    animation: clickAnimation 1s forwards;
    opacity: 0.3;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        width: 0%;
        height: 0%;
        opacity: 0;
        left: 40%;
    }
}

/* Estilos adicionales basados en la plantilla */
.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

/**/
.button-icon-affter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 8px;
}

.button-icon-linked{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
}

/**/
.button-trasparent {
    background-color: transparent;
    color: var(--primary);
}

.button-trasparent:hover {
    background-color: var(--primary);
    color: var(--white);
}

.button-trasparent-down{
    background-color: transparent;
    color: var(--primary);    
    padding: 8px 16px 0px 16px !important;
}

.button-trasparent-down:hover {    
    color: var(--white);    
}

.button-trasparent-down::before {
    content: " ";
    color: var(--white);
    background-color: var(--primary);
    height: 2px;
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;    
    opacity: 0;            
}

.button-trasparent-down:hover::before {       
    animation: ScaleFrame 1s ease-in-out;
    animation-fill-mode: forwards;
}

.button-trasparent-down:focus::before {
    opacity: 1;     
    background-color: var(--secondary);       
}

.button-left {
    flex-direction: row-reverse;
}

.button-right {
    flex-direction: row;
}

.button-primary {
    background-color: var(--primary);
    color: var(--white);
}

.button-secondary {
    background-color: var(--secondary);
    color: var(--white);
}

.button-tertiary {
    background-color: var(--tertiary);
    color: var(--white);
}

.button-quaternary {
    background-color: var(--quaternary);
    color: var(--white);
}

.button-quinary {
    background-color: var(--quinary);
    color: var(--white);
}

.button-danger {
    background-color: red;
    color: var(--white);
}

.button-warning {
    background-color: #ff6607;
    color: var(--white);
}

.button-success {
    background-color: #28a745;
    color: var(--white);
}

.button-info {
    background-color: var(--info);
    color: var(--white);
}

.button-light {
    background-color: var(--light);
    color: var(--black);
}

.button-black {
    background-color: var(--black);
    color: var(--white);
    border: var(--white) 1px solid;
}

.button-link {
    background-color: transparent;    
    color: var(--primary);
}

.button-link:hover {
    background-color: var(--primary);
    color: var(--white);
}

.button-link:active {
    background-color: var(--primary);
    color: var(--white);
}

.button-link:visited {
    background-color: var(--primary);
    color: var(--white);
}

.button-link:focus {
    background-color: var(--primary);
    color: var(--white);
}

.button-link:disabled {
    background-color: var(--light);
    color: var(--black);
}

.button-link:disabled:hover {
    background-color: var(--light);
    color: var(--black);
}

.button-link:disabled:active {
    background-color: var(--light);
    color: var(--black);
}

.button-link:disabled:visited {
    background-color: var(--light);
    color: var(--black);
}

/* dropdown */
.relative{    
    cursor: pointer;
}
.dropdown {    
    padding: 4px 16px;
    text-align: center;
    font-size: 14px;    
    position: relative;
    overflow: hidden;    
    border-radius: 4px;
    flex-direction: row-reverse;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;  
    height: 100%;
    color: rgba(255, 255, 255, 0.63);
}
#dropdown:active::before {
    content: "";
    position: absolute;
    margin: 0 0.5rem;
    font-weight: normal;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    left: 0;
    filter: blur(10px);
    animation: clickAnimation 1s forwards;
    opacity: 0.3;
}
.dropdown p {
    margin: 0;
    padding: 0;
    top: 5px;
    color: var(--white);
}

.dropdown + * {    
    background: rgba(var(--primary), 0.63);
}

.dropdown-menu {  
    border-radius: 8px;  
    padding: 2% 20px;
    margin: 5% 0;
    position: absolute;
    display: flex;
    background-color: var(--black);       
    right: 0;    
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu div{
    margin-top: 6px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;    
}
.dropdown-menu div > * {
    margin-bottom: 10px;
    text-align: left !important;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.dropdown:hover {
    background: rgba(41, 38, 38, 0.63) ;
}


/* Animaciones */

@keyframes ScaleFrame {    
    0% {
        scale: 0;   
        opacity: 1;             
    }    
    100% {
        scale: 1;   
        opacity: 1;          
    }
}

.fade-in {
    animation: ScaleFrame 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

.fadeInDown{
    animation: fadeInDown 1s ease-in-out;
}
.fadeInTop{
    animation: fadeInTop 1s ease-in-out;
}
@keyframes fadeInTop {
    0% {
        top: auto;
        opacity: 1;
        width: 50px;
        height: 50px;
    }
    50% {
        opacity: 1;
        transform: translateY(5);
    }
    100% {
        top: 0;
        right: 0;
        opacity: 0;
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        top: 0;
        opacity: .0; 
        width: 50px;
        height: 50px;                   
    }
    50% {        
        opacity: 0;  
        transform: translateY(-5);                   
    }
    100% {
        top: auto;
        right: 0;
        opacity: 1;
        transform: translateY(0);
    }
}


