/* src/styles/colors.css */
:root {
    --primary: $primary;
    --secondary: $secondary;
    --tertiary: $tertiary;
    --quaternary: $quaternary;
    --quinary: $quinary;
    --black: $black;
    --white: $white;
  }
  
.bg-primary {
   background-color: var(--primary);
}
  
.bg-secondary {
   background-color: var(--secondary);
}

.bg-tertiary {
   background-color: var(--tertiary);
}

.bg-quaternary {
   background-color: var(--quaternary);
}

.bg-quinary {
   background-color: var(--quinary);
}

.bg-black {
   background-color: var(--black);
}


.bg-white {
   background-color: var(--white);
}
  
.text-primary {
   color: var(--primary);
}
  
.text-secondary {
   color: var(--secondary);
}

.text-tertiary {
   color: var(--tertiary);
}
  
.text-quaternary {
   color: var(--quaternary);
}

.text-quinary {
   color: var(--quinary);
}

.text-black {
   color: var(--black);
}

.text-white {
   color: var(--white);
}