/* src/styles/colors.css */
:root {
    --primary: $primary;
    --secondary: $secondary;
    --tertiary: $tertiary;
    --quaternary: $quaternary;
    --quinary: $quinary;
    --black: $black;
    --white: $white;
    --trasparent: transparent;
    --color: var(--primary);
    --theme: var(--black);
    --theme-negative: var(--white);
  }
  
.bg-primary {
   background-color: var(--primary);
}
  
.bg-secondary {
   background-color: var(--secondary);
}

.bg-tertiary {
   background-color: var(--tertiary);
}

.bg-quaternary {
   background-color: var(--quaternary);
}

.bg-quinary {
   background-color: var(--quinary);
}

.bg-black {
   background-color: var(--black);
}


.bg-white {
   background-color: var(--white);
}
  
.text-primary {
   color: var(--primary);
}
  
.text-secondary {
   color: var(--secondary);
}

.text-tertiary {
   color: var(--tertiary);
}
  
.text-quaternary {
   color: var(--quaternary);
}

.text-quinary {
   color: var(--quinary);
}

.text-black {
   color: var(--black);
}

.text-white {
   color: var(--white);
}

/* Ocultar barra de desplazamiento en navegadores modernos */
.scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
/* Ejemplo de estilos adicionales */
.scroll-snap-item {   
   transition: transform 0.3s;
 }
 
 .scroll-snap-item:hover {   
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 

