.card {
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    border-radius: 10px ;
    background-color: var(--primary) ; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px ;
    height: 300px ;
    transition: transform 0.3s ;    border-radius: 10px ;
}

.card-img-top {
    width: 100% ;
    height: 200px ;    
}

.card-title {
    font-size: 1.5rem ;
    font-weight: bold ;
    color: var(--white) ;
}

.card-text {
    font-size: 1rem ;
    color: var(--white) ;
}

/**/
.card-img-row-primary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--primary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px ;
    margin: 20px ;
    width: 600px ;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;
}

.card-img-row-primary:hover {
    transform: scale(1.05) ;
}

.card-img-row-primary section {
    display: flex ;
    flex-direction: column ;display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    justify-content: space-between ;
}

.card-img-row-secondary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--secondary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px ;
    margin: 20px ;
    width: 600px ;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;
}

.card-img-row-secondary section {
    display: flex ;
    flex-direction: column ;display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    justify-content: space-between ;
}

.card-img-row-tertiary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--tertiary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px ;
    margin: 20px ;
    width: 600px ;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;
}

.card-img-row-tertiary section {
    display: flex ;
    flex-direction: column ;display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    justify-content: space-between ;
}

.card-img-row-quaternary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--quaternary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px ;
    margin: 20px ;
    width: 600px ;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;
}

.card-img-row-quaternary section {
    display: flex ;
    flex-direction: column ;display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    justify-content: space-between ;
}

.card-img-row-quinary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--quinary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px ;
    margin: 20px ;
    width: 600px ;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;
}

.card-img-row-quinary section {
    display: flex ;
    flex-direction: column ;display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    justify-content: space-between ;
}

.card-img-row-black{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--black) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px ;
    margin: 20px ;
    width: 600px ;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;
}

.card-img-row-black section {
    display: flex ;
    flex-direction: column ;display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    justify-content: space-between ;
}

.card-img-row-white{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--white) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px ;
    margin: 20px ;
    width: 600px ;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;
}

.card-img-row-white section {
    display: flex ;
    flex-direction: column ;display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    justify-content: space-between ;
}

.card-img-row-black:hover {
    transform: scale(1.05) ;
}

.card-img-row-white:hover {
    transform: scale(1.05) ;
}

.card-img-row-secondary:hover {
    transform: scale(1.05) ;
}

.card-img-row-tertiary:hover {
    transform: scale(1.05) ;
}

.card-img-row-quaternary:hover {
    transform: scale(1.05) ;
}

.card-img-row-quinary:hover {
    transform: scale(1.05) ;
}

.card-img-col-primary{
    display: flex ;
    flex-direction: column ;    
    border-radius: 10px ;
    background-color: var(--primary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    overflow: hidden ;
}

.card-img-col-primary section{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    padding: 10px 30px 40px 30px ;
}

.card-img-col-primary:hover {
    transform: scale(1.05) ;
}   

.card-img-col-secondary{
    display: flex ;
    flex-direction: column ;    
    border-radius: 10px ;
    background-color: var(--secondary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    overflow: hidden ;
}

.card-img-col-secondary section{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    padding: 10px 30px 40px 30px ;
}

.card-img-col-secondary:hover {
    transform: scale(1.05) ;
}

.card-img-col-tertiary{
    display: flex ;
    flex-direction: column ;    
    border-radius: 10px ;
    background-color: var(--tertiary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    overflow: hidden ;
}

.card-img-col-tertiary section{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    padding: 10px 30px 40px 30px ;
}
.card-img-col-tertiary:hover {
    transform: scale(1.05) ;
}

.card-img-col-quaternary{
    display: flex ;
    flex-direction: column ;    
    border-radius: 10px ;
    background-color: var(--quaternary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    overflow: hidden ;
}

.card-img-col-quaternary section{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    padding: 10px 30px 40px 30px ;
}

.card-img-col-quaternary:hover {
    transform: scale(1.05) ;
}

.card-img-col-quinary{
    display: flex ;
    flex-direction: column ;    
    border-radius: 10px ;
    background-color: var(--quinary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    overflow: hidden ;
}

.card-img-col-quinary section{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    padding: 10px 30px 40px 30px ;
}

.card-img-col-quinary:hover {
    transform: scale(1.05) ;
}

.card-img-col-black{
    display: flex ;
    flex-direction: column ;    
    border-radius: 10px ;
    background-color: var(--black) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    overflow: hidden ;
}

.card-img-col-black section{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    padding: 10px 30px 40px 30px ;
}

.card-img-col-black:hover {
    transform: scale(1.05) ;
}

.card-img-col-white{
    display: flex ;
    flex-direction: column ;    
    border-radius: 10px ;
    background-color: var(--white) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    overflow: hidden ;
}

.card-img-col-white section{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    padding: 10px 30px 40px 30px ;
}
.card-img-col-white:hover {
    transform: scale(1.05) ;
}

/*Custom- element*/
.card-custom-row-primary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--primary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;    
    width: 100%;    
    max-width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;    
}

.card-custom-row-secondary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--secondary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;    
    width: 100%;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;    
}

.card-custom-row-tertiary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--tertiary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;    
    width: 100%;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;    
}

.card-custom-row-quaternary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--quaternary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;    
    width: 100%;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;    
}

.card-custom-row-quinary{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--quinary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;    
    width: 100%;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;    
}

.card-custom-row-black{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--black) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;    
    width: 100%;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    
}

.card-custom-row-white{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--white) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;    
    width: 100%;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;    
}

.card-button{   
    height: 220px;
    width: 100%;  
    padding: 20px ;
    margin: 40px 20px ;   
    justify-content: space-between;    
    padding: 20px ;
    border-radius: 10px ;
    box-shadow: 0 4px 8px rgba(var(--primary), 0.7) ;
}

.card-button > :first-child > :first-child{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
}

.card-button >:first-child > :nth-child(2) {    
    margin-top: 5px;
    font-weight: 400;
}

.card-button >*{
    text-align:justify;
    
} 

.card-button > button{
    background-color: var(--transparent);
    color: var(--quaternary);    
    font-size: 16px !important;    
    padding: 0px  !important;    
    border-radius: 5px;
    text-align: start !important;
    cursor: pointer;
    justify-content: start;
}

.card-button > button svg{        
    fill: var(--quaternary) !important;
}

.card-button > button:hover{    
    color: var(--white);
}

.card-button > button svg:hover{        
    fill: var(--white) !important;
}

/* Clase actualizada con degradado animado utilizando variables */
.card-custom-row-gradient-two {
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius: 10px;
    background-color: var(--dark);
    background-image:
        radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0),
        transparent var(--s-end-0)),
        radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1),
        transparent var(--s-end-1));
    animation: hero-gradient-animation 10s ease-out infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 300px;    
}

.card-custom-row-gradient{
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 300px;
    background-color: var(--black);
    background-image: 
     radial-gradient(circle at 0% 99%, var(--quinary) 0%, 
     transparent 40%),
     radial-gradient(circle at 50% 0%, var(--quaternary) -90%, 
     transparent 85%),      
     radial-gradient(circle at 99% 80%, var(--quinary) 0%, 
     transparent 40%);
    background-blend-mode: normal, normal, normal, normal;
    filter:url("./grain.svg");
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(266.99999999999983, 1%, 12%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(335.9999999999997, 2%, 22%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(53.999999999999886, 0%, 0%, 0.49)
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(299, 4%, 36%, 1)
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

/*Glass*/
.card-glass{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    border-radius: 10px ;
    background-color: var(--primary) ; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    padding: 20px ;
    margin: 20px ;
    width: 300px ;
    height: 300px ;
    transition: transform 0.3s ;    border-radius: 10px ;
    background-color: rgba(255, 255, 255, 0.105);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-img-col-glass{
    display: flex ;
    flex-direction: column ;    
    border-radius: 10px ;
    background-color: var(--primary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;
    width: 300px;
    transition: transform 0.3s ;    
    border-radius: 10px ;
    overflow: hidden ;
    background-color: rgba(255, 255, 255, 0.105);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
       
}

.card-img-row-glass{
    display: flex ;
    flex-direction: row ;
    gap: 40px ;
    border-radius: 10px ;
    background-color: var(--primary) ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) ;    
    width: 100%;
    height: 300px ;
    transition: transform 0.3s ;    
    border-radius: 10px ;    
    background-color: rgba(255, 255, 255, 0.105);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-custom-row-glass{
    display: flex;
    flex-direction: row;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.105);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes hero-gradient-animation {
    0% {
        --x-0: 90%;
        --x-1: 0%;
        --y-0: 0%;
        --y-1: 93%;        
        --s-start-0: -17%;            
        --s-start-1: -10%;
        --s-end-0: 50%;    
        --s-end-1: 40%;
        --c-0: var(--quinary);
        --c-1: var(--quinary);                
    }    
    25% {
        --x-0: 97%;
        --x-1: 2%;
        --y-0: 84%;
        --y-1: 0%;                                            
    }
    50%{
        --x-0: 0%;
        --x-1: 90%;
        --y-0: 93%;
        --y-1: 0%;
    }
    75% {
        --x-0: 0%;
        --x-1: 90%;
        --y-0: 0%;
        --y-1: 93%;                            
    }
    100%{
        --x-0: 90%;
        --x-1: 0%;
        --y-0: 0%;
        --y-1: 93%;    
        --s-start-0: -17%;            
        --s-start-1: -10%;
        --s-end-0: 50%;    
        --s-end-1: 40%;
        --c-0: var(--quinary);
        --c-1: var(--quinary);       
    }
}